1.登陆系统，然后账户名和密码是通过excel导入到数据库里，不用注册直接登录。
2.个人页面，类似于cf的那种页面，可以查看cf的分数，如果把atc的弄上就也显示atc
的分数，还可以在个人页面看到自己的比赛经历，cf我记得是有api，以及刷题统计，做
了cf多少题（数字统计+表格显示不同分数的题目数量，类似cf analytics的那种），
做过题目的类型分布（饼状图）

-- 1 of 2 --

3.题目列表，就是类似cf tracker这种
但是进入网站主要是登陆以及个人页面，这个就可以类似cf的problme里边，点进去才
能看到这种。并且像cf tracker这个，可以更新那些题做过就高亮那种。
4.排行榜，类似北化的这种排行榜？就是以cf分数，atc分数，做题数几种，可以作为要
求进行比较。
5.如果可以最好有推荐算法，根据cf分数，做题比例等进行一定题目的推荐（最好可以有
隐藏分，就比如他cf实际上800，但是刷800如喝水，就降低推荐800的比重，给他往高
分推荐）
6.积分系统，对于不同题目给予不同积分，比如1600分的题目给1.6分这种，但是隐藏
分1600分的刷800不给分数这种。打正式比赛根据排名也给予积分。
7.检测机制，短时间内提交大量题目并且不符合他水平的情况，给教练发邮件报警提醒，
并且提示那些题目。
8.绑定。每个人绑定自己的cf和atc的id。
9.比赛，对于cf和atc的比赛进行提醒。

-- 2 of 2 --

