<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>2151</TotalTime><Pages>54</Pages><Words>5649</Words><Characters>32201</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>268</Lines><Paragraphs>75</Paragraphs><ScaleCrop>false</ScaleCrop><Company>user</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>37775</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>